.new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #333;
    height: 100%;
}

.new-image {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.new-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #fff;
    word-wrap: break-word;
}

.new-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ccc;
    word-wrap: break-word;
}

.new-category-line {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
}

.new-category {
    font-size: 1rem;
    color: #888;
}