<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/info.css">
    <title>News - інформація</title>
</head>

<body>
    <!-- Верхня панель -->
    <header class="header">
        <nav class="menu">
            <a href="#">
                <h1 class="title link">News</h1>
            </a>
            <a href="#">
                <li class="info-link link">Інформація</li>
            </a>
            <a href="#">
                <li class="admin-panel-link link">Адмін панель</li>
            </a>
        </nav>
    </header>

    <!-- Контент на сторінці -->
    <main class="main">
        <div class="info-container">
            <h2 class="info-title">Інформація</h2>
            <p class="info">Name: value</p>
        </div>
    </main>
</body>
</html>